<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="quartz" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="easyNetQ" type="EasyNetQ.Config.EasyNetQConfigurationSection, EasyNetQ"/>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="typeAliases" type="Spring.Context.Support.TypeAliasesSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>

  <common>
    <logging>
      <!--<factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging"/>-->
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog">
        <arg key="configType" value="FILE"/>
        <arg key="configFile" value="NLog.config"/>
      </factoryAdapter>
    </logging>
  </common>
  
  <easyNetQ xmlns="http://schemas.easynetq.com/config">
    <endpoint name="easynetq.quartz.scheduler"/>
    <!--<connection host="dev.rabbitmq.com"/>-->
    <connection host="localhost"/>
  </easyNetQ>
  
  <spring>
    <context>
      <resource uri="file://~spring.xml" />
    </context>
  </spring>

  <quartz>
    <add key="quartz.scheduler.instanceName" value="EasyNetQScheduler"/>
    <add key="quartz.scheduler.instanceId" value="instance_one"/>

    <add key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool, Quartz"/>
    <add key="quartz.threadPool.threadCount" value="10"/>
    <add key="quartz.threadPool.threadPriority" value="Normal"/>

    <add key="quartz.jobStore.misfireThreshold" value="60000"/>
    
    <!--most primitve - for testing purposes only-->
    <!--<add key="quartz.jobStore.type" value="Quartz.Simpl.RAMJobStore, Quartz"/>-->

    <!--uses a local database - only for small instances-->
    <add key="quartz.jobStore.type" value="Quartz.Impl.AdoJobStore.JobStoreTX, Quartz"/>
    <add key="quartz.jobStore.driverDelegateType"  value = "Quartz.Impl.AdoJobStore.StdAdoDelegate, Quartz"/>
    <add key="quartz.jobStore.tablePrefix" value="QRTZ_"/>
    <add key="quartz.jobStore.useProperties" value="false"/>
    <add key="quartz.jobStore.dataSource" value="default"/>
    <add key="quartz.dataSource.default.provider" value="SqlServerCe-400"/>
    <add key="quartz.dataSource.default.connectionString" value="DataSource=quartz.scheduler.sdf"/>
    
    <!--for deployment in most systems-->
    <!--<add key="quartz.jobStore.type" value="Quartz.Impl.AdoJobStore.JobStoreTX, Quartz"/>
    <add key="quartz.jobStore.driverDelegateType"  value = "Quartz.Impl.AdoJobStore.SqlServerDelegate, Quartz"/>
    <add key="quartz.jobStore.lockHandler.type"  value = "Quartz.Impl.AdoJobStore.UpdateLockRowSemaphore, Quartz"/>
    <add key="quartz.jobStore.tablePrefix" value="QRTZ_"/>
    <add key="quartz.jobStore.useProperties" value="false"/>
    <add key="quartz.jobStore.dataSource" value="default"/>
    <add key="quartz.dataSource.default.provider" value="SqlServer-20"/>
    <add key="quartz.dataSource.default.connectionString" value="Server=vienna.sebfia.local;Database=Quartz;Trusted_Connection=True;"/>-->
  </quartz>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.505" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>