<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target xsi:type="AsyncWrapper" name="network" overflowAction="Discard" batchSize="1000" queueLimit="5000">
      <target xsi:type="Network" layout="${log4jxmlevent}" address="udp://localhost:7071"/>
    </target>
  </targets>

  <rules>
    <logger name="EasyNetQ.QuartzScheduler.ScheduledMessageHandler" minlevel="Debug" writeTo="network"/>
    <logger name="EasyNetQ.QuartzScheduler.SendMessageJob" minlevel="Debug" writeTo="network"/>
    <logger name="*" minlevel="Info" writeTo="network"/>
  </rules>
</nlog>