<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="easyNetQ" type="EasyNetQ.Config.EasyNetQConfigurationSection, EasyNetQ" />
  </configSections>
  
  <easyNetQ xmlns="http://schemas.easynetq.com/config">
    <endpoint name="Publisher"/>
    <connection host="localhost"/>
  </easyNetQ>
  
</configuration>